<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking for {{competition['name']}} || GUDLFT</title>
</head>
<body>
    <h2>{{competition['name']}}</h2>
    Places available: {{competition['numberOfPlaces']}}
    <form action="/purchasePlaces" method="post">
        <input type="hidden" name="club" value="{{club['name']}}">
        <input type="hidden" name="competition" value="{{competition['name']}}">
        <label for="places">How many places?</label><input type="number" name="places" id=""/>
        <button type="submit">Book</button>
    </form>
    {% if error == "not_enough_points" %}
    <h3 style="color: red; font-weight: 100;font-size: small;">Your club doesnt have enough points !</h3>
    {% endif %}
    {% if error == "more_than_12_places" %}
    <h3 style="color: red; font-weight: 100;font-size: small;">You can't book more than 12 places!</h3>
    {% endif %}
    {% if error == "negative points" %}
    <h3 style="color: red; font-weight: 100;font-size: small;">You can't book that many place(s) !</h3>
    {% endif %}    
</body>
</html>